@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overlay-mask {
    mask-image: linear-gradient(0deg, rgb(0 0 0 / 100%) 0%, rgb(0 0 0 / 0%) 40%);
  }

  .no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url(./fonts/SpaceGrotesk-Regular.woff2) format('woff2'),
       url(./fonts/SpaceGrotesk-Light.woff2) format('woff2'),
       url(./fonts/SpaceGrotesk-Medium.woff2) format('woff2'),
       url(./fonts/SpaceGrotesk-Bold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  path: "./SpaceGrotesk-Bold.woff2",
  weight: "900",
  style: "normal",
}
@font-face {
  path: "./SpaceGrotesk-Bold.woff2",
  weight: "900",
  style: "italic",
}
@font-face {
  path: "./SpaceGrotesk-Bold.woff2",
  weight: "700",
  style: "normal",
}
@font-face {
  path: "./SpaceGrotesk-Bold.woff2",
  weight: "700",
  style: "italic",
}
@font-face {
  path: "./SpaceGrotesk-Light.woff2",
  weight: "300",
  style: "normal",
}
@font-face {
  path: "./SpaceGrotesk-Light.woff2",
  weight: "300",
  style: "italic",
}
@font-face {
  path: "./SpaceGrotesk-Medium.woff2",
  weight: "500",
  style: "normal",
}
@font-face {
  path: "./SpaceGrotesk-Medium.woff2",
  weight: "500",
  style: "italic",
}
@font-face {
  path: "./SpaceGrotesk-Regular.woff2",
  weight: "600",
  style: "normal",
},
@font-face {
  path: "./SpaceGrotesk-Regular.woff2",
  weight: "600",
  style: "italic",
},
@font-face {
  path: "./SpaceGrotesk-Bold.woff2",
  weight: "800",
  style: "normal",
}
{
  path: "./SpaceGrotesk-Light.woff2",
  weight: "200",
  style: "normal",
},
@font-face {
  path: "./SpaceGrotesk-Light.woff2",
  weight: "400",
  style: "italic",
},
