@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overlay-mask {
    mask-image: linear-gradient(0deg, rgb(0 0 0 / 100%) 0%, rgb(0 0 0 / 0%) 40%);
  }
}

@no-scrollbar utilities {
  .container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}
